body {
  --colorJazzberry: rgba(164, 14, 76, 1);
  --colorSpaceCadet: rgba(44, 44, 84, 1);
  --colorCambridgeBlue: rgba(172, 195, 166, 1);
  --colorPeachPuff: rgba(245, 214, 186, 1);
  --colorSandyBrown: rgba(244, 157, 110, 1);
  margin: 0;
}

.header {
  background-color: var(--colorJazzberry);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}
.header__h1 {
  color: white;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-size: 36px;
  letter-spacing: 0.1rem;
}

.filter {
  z-index: 2;
  background-color: var(--colorJazzberry);
  position: absolute;
  top: 100px;
  left: 40px;
}

.loadingScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--colorCambridgeBlue);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loadingScreen h3 {
  font-family: "Helvetica", sans-serif;
  font-size: 46px;
  text-align: center;
}

.leaflet-container {
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

.leaflet-control {
  left: 10px;
  bottom: -85vh;
}
