body {
  --colorJazzberry: rgba(164, 14, 76, 1);
  --colorSpaceCadet: rgba(44, 44, 84, 1);
  --colorCambridgeBlue: rgba(172, 195, 166, 1);
  --colorPeachPuff: rgba(245, 214, 186, 1);
  --colorSandyBrown: rgba(244, 157, 110, 1);
  margin: 0;
}

.header {
  width: 100%;
  opacity: 95%;
  background-color: var(--colorJazzberry);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.header__h1 {
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  letter-spacing: 0.1rem;
  margin-bottom: -10px;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
  animation: tracking-in-contract 3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s
    both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.header__p {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.filter {
  z-index: 2;
  background-color: #e7e7e7;
  border-bottom: 12px solid var(--colorSandyBrown);
  position: absolute;
  top: 140px;
  left: 30px;
  min-width: 12%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #808080;
}

.filter__h2 {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}

.filter__h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  border-bottom: 1px solid var(--colorSandyBrown);
  margin-bottom: 10px;
}

.filter__p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

i {
  border: solid var(--colorSandyBrown);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  margin-bottom: 4px;
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

input {
  margin-right: 10px;
}

label {
  display: block;
  font-size: 14px;
}

.loadingScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--colorPeachPuff);
  opacity: 85%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loadingScreen__h3 {
  font-family: "Raleway", sans-seri;
  font-size: 42px;
  text-align: center;
  color: var(--colorSandyBrown);
}

.spinner {
  text-align: center;
}

.popup__span {
  font-weight: 500;
  color: var(--colorJazzberry);
}

.popup__a:hover {
  color: var(--colorJazzberry);
  opacity: 1;
}

.leaflet-container {
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

.leaflet-container a {
  color: var(--colorSpaceCadet);
  opacity: 0.8;
  transition: 0.3s;
}

.leaflet-control {
  left: 30px;
  bottom: -85vh;
}
